<h3><%= @user.username %>'s Profile</h3>

<h4>Total Points</h4>
<p><%= @user.total_points %> points</p>


<h4>Posts</h4>
<ul>
  <% @user.posts.each do |post| %>
    <li><%= link_to "#{post.title}", post_path(post) %> <small>Posted on <%= post.created_at.strftime("%m-%d-%y at %H:%M") %></small></li>
  <% end %>
</ul>

<h4>Comments</h4>
<ul>
  <% @user.comments.each do |comment| %>
    <li><p><strong>Post Commented On:</strong> <%= link_to "#{comment.post.title}", post_path(comment.post) %></p>
    <p><strong>Comment:</strong> <%= comment.content %></p>
  <% end %>
</ul>
