
<% @posts.each do |post| %>
  <h2><%=link_to(post.title, post_path(post))%></h2>
  <h3><%= post.content %></h4>
  <h4>written by: <%= User.find(post.user_id).username %></h4>
  <h5>posted on: <%= post.created_at %></h5>
  <h4> <%= post.comments.count %> comments<h4>
    <%= link_to 'Comment', new_post_comment_path(post) %>
<% end %>
