<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>author:</strong>
  <%= User.find(@post.user_id).username %>
</p>

<button><%= link_to "Update", edit_post_path(@article)%></button>
<%= button_to "Delete", post_path(@article), method: :delete %>
