<span class="eleven columns">
<p>
  <h5><%= @post.title %></h5>
  <p>Posted By: <%= User.find(@post.user_id).username %></p>
  <p><%= @post.content %></p>
  <%= @post.comments.count %> comments
</p>

  <% if content_belongs_to?(User.find(session[:user_id]), @post) %>
    <div class="button"><%= link_to "Update", edit_post_path(@post) %></div>
  <% end %>
  <div class="button"><%= link_to "Comment", new_post_comment_path(@post) %></div>
  <% if content_belongs_to?(User.find(session[:user_id]), @post) %>
    <%= button_to "Delete", post_path(@post), method: :delete %>
  <% end %>

  <% @post.comments.each do |comment| %>
    <div class="comment_body"><p><%=comment.content %></p></div><br><br>
    <p><div id="comment-points-<%= comment.id %>" data-id="<%= comment.id %>" class="votes"><%= comment.total_points %> points</div><br>
    <button class="comment-upvote" data-id="<%= comment.id %>" data-post="<%= @post.id %>">Up</button>
    <button class="comment-downvote" data-id="<%= comment.id %>" data-post="<%= @post.id %>">Down</button></p><br>
  <% end %></span>
