<p>
  <strong>Title:</strong>
  <%= @post.title %><br>
  <strong>by:</strong>
  <%= User.find(@post.user_id).username %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

  <%= link_to "Update", edit_post_path(@post)%>
  <%= button_to "Delete", post_path(@post), method: :delete %>

  <p>comments: <%= @post.comments.count %> </p>
  <%= link_to 'Comment', new_post_comment_path(@post) %>
  <ul>
    <% @post.comments.each do |comment| %>
      <ol> <%=comment.content %> </ol>
    <% end %>
  </ul>
  <%= link_to 'Back to Posts', posts_path %>
