<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ZackOverflow</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container" >
      <% if current_user %>
      <span class="twelve columns">
      <nav class="nav_right">
        <%= link_to current_user.username, current_user %> |
        <%= link_to 'Logout', logout_path, method: 'GET'%>
      </nav>
      <nav class="nav_left">
        <%= link_to 'Home ', root_path %>|
        <%= link_to 'Categories ', categories_all_path %>|
        <%= link_to 'New Post ', new_post_path %>
      </nav>
      <% else %>
      <nav>
      <a href="/users/new">Signup</a> | <a href="/login">Login</a>
      </nav>
      </span>
      <% end %>
      <%= yield %>
    </div>
    <div id="zach_logo"><%= image_tag 'logo.png'%></div>
  </body>
</html>
